@mixin font-nimbus-sans-extd {
  font-family: nimbus-sans-extended,sans-serif;
  font-weight: 700;
}


$ud-color-red: #E94A1F;
$ud-color-green: #8F967A;
$ud-color-beige: #E5D8C6;
$ud-color-bg-light-gray: #F5F5F5;

$ud-color-border: #D0D0D0;
